atomicwrites==1.4.0
attrs==21.2.0
colorama==0.4.4
iniconfig==1.1.1
mpmath==1.2.1
numpy==1.21.0
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
sympy==1.8
toml==0.10.2
urllib3==1.25.11
pip==21.1.3
wheel==0.36.2
matploblib==3.4.2
